// ---------------------------------------------------------------------------
//
//    File created programmatically
//
//    The definitions are in the "qrainbowstyle.palette" module
//
//    WARNING! All changes made in this file will be lost!
//
//----------------------------------------------------------------------------
$COLOR_BACKGROUND_6: #acacac;
$COLOR_BACKGROUND_5: #c1c1c1;
$COLOR_BACKGROUND_4: #c6c6c6;
$COLOR_BACKGROUND_2: #dbdbdb;
$COLOR_BACKGROUND_3: #d7d7d7;
$COLOR_BACKGROUND_1: #e5e5e5;
$COLOR_TEXT_1: #312e2b;
$COLOR_TEXT_2: #1f1e1c;
$COLOR_TEXT_3: #050505;
$COLOR_TEXT_4: #000000;
$COLOR_ACCENT_1: #ce4b01;
$COLOR_ACCENT_2: #d66522;
$COLOR_ACCENT_3: #de8044;
$COLOR_ACCENT_4: #e79b65;
$COLOR_ACCENT_5: #efb587;
$SIZE_BORDER_RADIUS: 4px;
$BORDER_1: 1px solid $COLOR_BACKGROUND_1;
$BORDER_2: 1px solid $COLOR_BACKGROUND_4;
$BORDER_3: 1px solid $COLOR_BACKGROUND_6;
$BORDER_SELECTION_3: 1px solid $COLOR_ACCENT_3;
$BORDER_SELECTION_2: 1px solid $COLOR_ACCENT_2;
$BORDER_SELECTION_1: 1px solid $COLOR_ACCENT_1;
$TITLEBAR_BOTTOM_BORDER: #e0e0e0;
$TITLE_BAR_BACKGROUND_COLOR: #e5e5e5;
$TITLE_BAR_BUTTONS_HOVER_COLOR: #c0c1c1;
$TITLE_BAR_BUTTONS_DISABLED_COLOR: #c6c6c6;
$TITLE_BAR_TEXT_COLOR: #312e2b;
$PATH_RESOURCES: ':/qss_icons';
